@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');


* {
  font-family: 'Work Sans', sans-serif;
}

.head1style{
  @apply  text-xs  text-ouryellow ;
 }
.head2style{
  @apply  text-sm  text-ourblack  ;
 }
.menubutton {
  @apply  px-4 font-medium mx-1 py-3 hover:bg-gray-100 rounded-full text-ourblack  ;
 }
.divider {
  @apply  px-1  text-ouryellow  ;
 }

 .buttonprimary {
  @apply px-4 mx-2 py-3 text-white rounded-full hover:bg-opacity-90 active:bg-opacity-100 text-sm bg-ourblack;
 }
 .buttonprimary2 {
  @apply px-6 py-3 text-white rounded-full hover:bg-opacity-90 active:bg-opacity-100  bg-ourblack;
 }
 .buttonprimary3 {
  @apply px-3 py-2 text-white rounded-full hover:bg-opacity-90 active:bg-opacity-100  bg-ourblack;
 }




 .buttonsecondary {
  @apply px-6 py-3 text-ourblack rounded-full hover:bg-opacity-90 active:bg-opacity-100  bg-white;
 }

 .heroBackground {
  background-image: url('/hero1.webp');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .aboutBackground {
  background-image: url('/aboutus.webp');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .projectsBackground {
  background-image: url('/causes.webp');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .kayaBackground {
  background-image: url('/44.webp');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .breastBackground {
  background-image: url('/breast1.webp');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .reproBackground {
  background-image: url('/reprophotos/1.webp');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .fgBackground {
  background-image: url('/88.webp');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .specialBackground {
  background-image: url('/99.webp');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .waterBackground {
  background-image: url('/waterphotos/1.webp');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .cleanBackground {
  background-image: url('/clean.webp');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .newsBackground {
  background-image: url('/news.webp');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .teamBackground {
  background-image: url('/team.webp');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .contactBackground {
  background-image: url('/contact.webp');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .donateBackground {
  background-image: url('/99.webp');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 }







 .flagshipbg {
  background-image: url('/pro5.webp');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 0.5s; /* Adding a transition effect for a smoother change */
  opacity: 0.4;
}

.flagshipbg:hover {
  opacity: 1; /* Change the opacity on hover */
}


 .videoImage {
  background-image: url('/video.webp');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .becomeAV {
  background-image: url('/bav.webp');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .proone {
  background-image: url('/kayaphotos/62.webp');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 }

 .protwo {
  background-image: url('/fgphotos/4.webp');
  object-fit:cover;
  background-repeat: no-repeat;
  background-size:cover;
 }
 .prothree {
  background-image: url('/cleanphotos/3.webp');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .profour {
  background-image: url('/breastphotos/2.webp');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .profive {
  background-image: url('/waterphotos/2.webp');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .teamone {
  background-image: url('/queen.webp');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .teamtwo {
  background-image: url('/frank.webp');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .teamthree {
  background-image: url('/bruce.webp');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .teamfour {
  background-image: url('/basit.webp');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .teamfive {
  background-image: url('/malik.webp');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .proImage1 {
  background-image: url('/kayaphotos/62.webp');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .proImage2 {
  background-image: url('/breast.webp');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .proImage3 {
  background-image: url('/repro.webp');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .proImage4 {
  background-image: url('/widows.webp');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .proImage5 {
  background-image: url('/special.webp');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .proImage6 {
  background-image: url('/clean.webp');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .proImage7 {
  background-image: url('/waterphotos/1.webp');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .proImage8 {
  background-image: url('/cleanphotos/1.webp');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .kaya2 {
  background-image: url('/kaya1.webp');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 }

 @font-face {
  font-family: 'Shippori Antique';
  src: url('/fonts/Shippori Antique.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Sue Ellen';
  src: url('/fonts/SueEllenFrancisco-Regular.ttf') format('truetype');
  src: url('/fonts/SueEllenFrancisco-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mincho';
  src: url('/fonts/ShipporiMincho-Regular') format('truetype');
  src: url('/fonts/ShipporiMincho-Regular') format('truetype');
}